.git
.local
.tools
node_modules
**/node_modules
**/.svelte-kit
**/.blume
**/.blume-verify
**/.wrangler
**/build
**/dist
target
**/.platform
**/tests
**/*.test.ts
**/.env
**/.env.*
**/test-results
**/playwright-report
